{% extends 'base.html' %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% load static %}
{% if empty %}
    <div class="alert alert-warning text-center" style="font-size: 30px;" role="alert">
        {{empty}}
    </div>
    <br><br><br>
{%else%}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Cart</span></p>
          <h1 class="mb-0 bread">My Cart</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-cart">
          <div class="container">
              <div class="row">
              <div class="col-md-12 ftco-animate">
                  <div class="cart-list">
                      <table class="table">
                          <thead class="thead-primary">
                            <tr class="text-center">
                              <th>&nbsp;</th>
                              <th>&nbsp;</th>
                              <th>Product name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in cart.cartitem_set.all %}
                            <tr class="text-center">
                              <td class="product-remove"><a href="{% url 'update_cart' item.product.slug %}?qty=0"><span class="ion-ios-close"></span></a></td>
                              {% for image in item.product.productimage_set.all %}
                                {% if image.thumbnail == True %}
                              <td class="image-prod"><div class="img" style="background-image:url(/media/{{image.image}});"></div></td>
                                {% endif %}
                              {% endfor %}
                              <td class="product-name">
                                  <h3>{{item.product.product_name}}</h3>
                                  <p>{{item.product.description}}</p>
                              </td>
                              
                              <td class="price">৳
                                {% if item.product.sale != item.product.price %}
                                  <span id="price_value">{{item.product.sale}}</span>
                                  {% with key=item.product.id %}
                                    {% if discount|dict_key:key > 0 %}
                                    <span class="badge badge-success">{{discount|dict_key:key}}% discount</span>
                                    {% endif %}
                                  {% endwith %}
                                {% else %}
                                  <span id="price_value">{{item.product.price}}</span>  
                                {% endif %}
                              </td>
                              
                              <td class="quantity">
                                  <div class="input-group mb-3">
                                      <a id="minus">
                                        <i class="fa fa-minus ml-5 mr-2" ></i></a>
                                        <span id="quantity_value">{{item.quantity}}</span>
                                        <a id='plus'>
                                          <i class="fa fa-plus ml-2"></i>
                                        </a>
                                        <span class="ml-2" style="color: red;" id="out_of_stock"></span>
                                        
                                </div>
                            </td>
                              
                              <td class="total">৳ <span id="total_price">{{item.line_total}}</span></td>
                            </tr><!-- END TR-->
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
              </div>
          </div>
          <div class="row justify-content-end">
              <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                  <div class="cart-total mb-3">
                      <h3>Coupon Code</h3>
                      <p>Enter your coupon code if you have one</p>
              
                <div class="form-group">
                    <label for="">Coupon code</label>
                  <input type="text" class="form-control text-left px-3" id="coupon_code" placeholder="">
                </div>
                <p><a href="" id="apply_coupon" class="btn btn-primary py-3 px-4"> 
                    Apply Coupon</a>
                </p>
              
                  </div>
               <div id="coupon_alert"></div>
                  
              </div>
              <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                  <div class="cart-total mb-3">
                      <h3>Estimate shipping charge</h3>
                      <p>Enter your destination to get a shipping estimate</p>
                        <form action="#" class="info">
                <div class="form-group">
                    <label for="">District</label>
                    <select id="district_select">
                        <option  value="" selected>--------------</option>
                        {% for district in districts %}
                        <option value="{{district.district_name}}">{{district.district_name}}</option>
                        {% endfor %}
                    </select>                     
                </div>
                
                <div class="form-group">
                  <label for="">Area </label>  
                  <select id="area_select">
                        <option value="" selected>--------------</option>
                    </select>
                </div>
                 <div class="form-group">
                    <label for="country">BDT</label>
                  <input id="delivery_charge" type="text" class="form-control text-left px-3" placeholder="" readonly>
                </div>
              </form>
                  </div>
                  <p><a id="estimate" href="#" class="btn btn-primary py-3 px-4">Estimate</a></p>
              </div>
              <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                  <div class="cart-total mb-3">
                      <h3>Cart Totals</h3>
                      <p class="d-flex">
                          <span>Subtotal</span>
                          ৳<span id='sub_total'>{{cart.total|add:cart.coupon_discount}}</span>
                      </p>
                      <p class="d-flex">
                          <span>Delivery</span>
                          ৳<span id="delivery_charge_cart">0</span>
                      </p>
                      <p class="d-flex">
                          <span class="mr-5">Discount</span>
                          ৳<span id="discount_cart">{{cart.coupon_discount}}</span>
                          <span id="ajax_discount_tag" ></span>
                          {% if cart.coupon_discount > 0 %}
                            <span class="badge badge-success">Coupon Discount</span>
                          {% endif %}
                      </p>
                      <hr>
                      <p class="d-flex total-price">
                          <span>Total</span>
                          ৳<span id="total">{{cart.total}}</span>
                          <span class="badge badge-success">{{discount|dict_key:"total_discount"}}% savings</span>
                      </p>
                  </div>
                  <p><a id="proceed_to_order" href="" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
              </div>
          </div>
          </div>
      </section>

      <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-6">
            <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
            <span>Get e-mail updates about our latest shops and special offers</span>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="text" class="form-control" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<script>
    //Reduce product quantity both in front-end and database
    // Also adjusts all others fields on front-end according to the changes
    $('.table tbody').on('click', '#minus', function(e){
      var currow = $(this).closest('tr'); //Get Table rows near to the cliecked event
      var product_name = currow.find('td:eq(2) h3').text(); //get the text of 3rd column
      var price = currow.find('td:eq(3) #price_value').text().trim(); ////get the text of 4th column
      var quantity = currow.find('td:eq(4) #quantity_value').text().trim(); //get the text of 5th column
      var line_total = currow.find('td:eq(5) #total_price').text().trim();
      // We need slug to match with update_cart url. slug can be found by product name,
      // converting them to lower case and joining spaces by hypen
      product_name = product_name.toLowerCase(); 
      var product_name_splitted = product_name.split(" ");
      var slug = product_name_splitted.join("-");

      var new_line_total = 0;
      quantity = parseInt(quantity) - 1;

      if(quantity > 0){
        $.ajax({
          type:'GET',
          url: slug,
          data: {
            qty: quantity,
          },
          success: function(result){
            new_line_total = parseInt(quantity) * parseInt(price);
            currow.find('td:eq(4) #quantity_value').text(quantity);
            currow.find('td:eq(5) #total_price').text(new_line_total);
            //on successfull query, update the value of Sub total & total
            let cart_total = result.cart_total;
            let coupon_discount = result.coupon_discount;
            let cart_sub_total = parseInt(cart_total) + parseInt(coupon_discount);
            $('#total').text(cart_total);
            $('#sub_total').text(cart_sub_total);
          }
        });
      }
      else{
        alert("To remove product, click  on the cross button!");
      }
      
    });      
  
    //Increases product quantity on both front-end and database
    // Also adjusts all others fields on front-end according to the changes
    $('.table tbody').on('click', '#plus', function(e){
        var currow = $(this).closest('tr'); //Get Table rows near to the cliecked event
        var product_name = currow.find('td:eq(2) h3').text(); //get the text of 3rd column
        var price = currow.find('td:eq(3) #price_value').text().trim(); ////get the text of 4th column
        var quantity = currow.find('td:eq(4) #quantity_value').text().trim(); //get the text of 5th column
        var line_total = currow.find('td:eq(5) #total_price').text().trim();
        // We need slug to match with update_cart url. slug can be found by product name,
        // converting them to lower case and joining spaces by hypen
        product_name = product_name.toLowerCase(); 
        var product_name_splitted = product_name.split(" ");
        var slug = product_name_splitted.join("-");

        var new_line_total = 0;
        quantity = parseInt(quantity) + 1;

        if(quantity > 0){
          $.ajax({
            type:'GET',
            url: slug,
            data: {
              qty: quantity,
            },
            success: function(result){
              if(result['out_of_stock']){
                currow.find('td:eq(4) #out_of_stock').text("Out of stock");
              }
              else{
              //on successfull query and if product is not out of stock, update the value of Sub total & total
              new_line_total = parseInt(quantity) * parseInt(price);
              currow.find('td:eq(4) #quantity_value').text(quantity);
              currow.find('td:eq(5) #total_price').text(new_line_total);      
              let cart_total = result.cart_total;
              let coupon_discount = result.coupon_discount;
              let cart_sub_total = parseInt(cart_total) + parseInt(coupon_discount);
              $('#total').text(cart_total);
              $('#sub_total').text(cart_sub_total);
              }
            }
          });
        }
        else{
          alert("To remove product, click  on the cross button!");
        }
        
      });

      //Updates delivery charge on district and area option change
      //Doest not update database and cart. Only updates the delivery charge field on
      //top of the 'Estimate' button
      $('#district_select').change(function(e){
          $("#area_select option").remove();
          $("#delivery_charge").val('');
          var selected_area = $('#district_select option:selected').text();
          $.ajax({
            type:'GET',
            url: 'deliverycharge',
            data: {
              dst: selected_area,
            },
            success: function(result){
              $("#area_select option").remove();
              $('#area_select').append("<option value=''>"+'-----------'+"</option>");
              for (let i = 0; i < (Object.keys(result)).length; i++){
                let area_name = Object.keys(result)[i];
                $('#area_select').append("<option value="+area_name+">"+area_name+"</option>");
              }

              $("#area_select").change(function(e){
                
                $("#delivery_charge").val(result[$("#area_select option:selected").text().trim()]);
              });

            }  
          });
      });

      // Apply Coupon (Updates database without coupon discount value). 
      // Coupon Discount in on updated in front-end
      $("#apply_coupon").on('click',function(e){
        e.preventDefault();
        $('#coupon_alert').removeClass("alert alert-info");
        $('#coupon_alert').text("");
        $('#circle').addClass('spinner-border');
        $('#circle').addClass('spinner-border-sm');
        $('#circle').addClass('mr-3');

        var coupon_code = $("#coupon_code").val();
        var URL = "{% url 'coupon' %}";
        $.ajax({
          type:'GET',
          url: URL,
          data: {
            cpn: coupon_code,
          },
          success: function(result){
            $('#coupon_alert').addClass("alert alert-info");
            $('#coupon_alert').text(result['message']);    

            var discount  = result["coupon_discount"];
            
            if(parseInt(discount) > 0){
              var cart_total = result["cart_total"];
              var delivery_charge = $("#delivery_charge_cart").text().trim();
              if(delivery_charge== ""){
                delivery_charge = 0.0;
              }

              let sub_total = parseInt(discount) + parseInt(cart_total);
              let total = sub_total + parseInt(delivery_charge) - parseInt(discount);
              if(parseInt($("#discount_cart").text()) < 0){
                $("#ajax_discount_tag").addClass('badge badge-success');
                $("#ajax_discount_tag").text("Coupon Discount");                        
              }
              $("#sub_total").text(sub_total);
              $("#discount_cart").text(discount);
              $("#total").text(total);
            }

          }
        });

      });

    //Estimate total cost  
    $("#estimate").on('click',function(e){
      e.preventDefault();

      var delivery_charge = $("#delivery_charge").val().trim();
      
      if(parseInt(delivery_charge) > 0){
        var sub_total = $("#sub_total").text().trim();
        var discount = $("#discount_cart").text().trim();
        var total = $("#total").text().trim();

        var final_total = parseInt(sub_total) + parseInt(delivery_charge) - parseInt(discount);
        $("#delivery_charge_cart").text(delivery_charge);
        $("#total").text(final_total);      
      }
      else{
        delivery_charge = 0
        var sub_total = $("#sub_total").text().trim();
        var discount = $("#discount_cart").text().trim();
        var total = $("#total").text().trim();

        var final_total = parseInt(sub_total) + parseInt(delivery_charge) - parseInt(discount);
        $("#delivery_charge_cart").text(delivery_charge);
        $("#total").text(final_total);
      }

    });      

    $("#proceed_to_order").on('click', function(e){
      e.preventDefault();
      var delivery_charge = parseInt($("#delivery_charge_cart").text());
      var sub_total = parseInt($("#sub_total").text());
      if( delivery_charge > 0 ){
        var URL = "{% url 'checkout' %}";
        window.location.href = "{% url 'checkout' %}?dlvry="+delivery_charge+"&sbtotal="+sub_total;

      }
      else{
        alert("Please Estimate Shipping Charge First!");
      }
    });

  </script>
  
{% endblock %}
