   
<div class="side-menu" id="side-menu">
    <ul>
        <li>One sale <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-1</li>
                <li>Sub Menu-1</li>
                <li>Sub Menu-1</li>
                <li>Sub Menu-1</li>
            </ul>
        </li>
        <li>Mobiles <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-2</li>
                <li>Sub Menu-2</li>
                <li>Sub Menu-2</li>
                <li>Sub Menu-2</li>
            </ul>
        </li>
        <li>Computers <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-3</li>
                <li>Sub Menu-3</li>
                <li>Sub Menu-3</li>
                <li>Sub Menu-3</li>
            </ul>
        </li>
        <li>Farniture <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-4</li>
                <li>Sub Menu-4</li>
                <li>Sub Menu-4</li>
                <li>Sub Menu-4</li>
            </ul>
        </li>
        <li>Tablets <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-5</li>
                <li>Sub Menu-5</li>
                <li>Sub Menu-5</li>
                <li>Sub Menu-5</li>
            </ul>
        </li>
        <li>Display <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-6</li>
                <li>Sub Menu-6</li>
                <li>Sub Menu-6</li>
                <li>Sub Menu-6</li>
            </ul>
        </li>
        <li>Laptop <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-7</li>
                <li>Sub Menu-7</li>
                <li>Sub Menu-7</li>
                <li>Sub Menu-7</li>
            </ul>
        </li>
        <li>Samsung <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-8</li>
                <li>Sub Menu-8</li>
                <li>Sub Menu-8</li>
                <li>Sub Menu-8</li>
            </ul>
        </li>
        <li>Xaomi <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-9</li>
                <li>Sub Menu-9</li>
                <li>Sub Menu-9</li>
                <li>Sub Menu-9</li>
            </ul>
        </li>
        <li>Mi <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-10</li>
                <li>Sub Menu-10</li>
                <li>Sub Menu-10</li>
                <li>Sub Menu-10</li>
            </ul>
        </li>
        <li>Lenovo <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-11</li>
                <li>Sub Menu-11</li>
                <li>Sub Menu-11</li>
                <li>Sub Menu-11</li>
            </ul>
        </li>
        <li>UPS <i class="fa fa-angle-right"></i> 
            <ul>
                <li>Sub Menu-12</li>
                <li>Sub Menu-12</li>
                <li>Sub Menu-12</li>
                <li>Sub Menu-12</li>
            </ul>
        </li>
    </ul>
</div>